/* 
===============================
This styles is basically for 
pages that have common styles
==============================
 */
/* .gallery h3 {
  margin-bottom: 2rem;
}
.gallery .grid-container {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 0.9375rem;
}
.grid-container .grid-item {
  display: inline-block;
}
.gallery .grid-container > :first-child {
  grid-area: 1/1/3/3;
  border-radius: 22px 0 0 22px;
}
.gallery .grid-container > :nth-child(2) {
  grid-area: 1/3/2/5;
  border-radius: 0 22px 0 0;
}
.gallery .grid-container > :nth-child(3) {
  grid-area: 2/3/3/4;
}
.gallery .grid-container > :nth-child(4) {
  grid-area: 2/4/3/5;
  cursor: pointer;
}
.gallery .grid-container > :last-child {
  border-radius: 0 0 22px 0;
}
.gallery .grid-container img {
  height: 100%;
  object-fit: cover;
}
.grid-container .grid-item.see-more {
  position: relative;
}
.grid-container .grid-item.see-more::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  background: rgb(102 105 174 / 45%);
}
.grid-container .grid-item .text-title {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  font-size: 0.875rem;
  color: #fff;
  text-align: center;
}
.grid-container .grid-item.hidden {
  display: none;
}
.grid-container .grid-item.show {
  display: block;
} */

/* .grid-container-more {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.9375rem;
} */

/* ===================================================================
======================Event and Phot Studio Booking Forms============= */
.form-container.booking-form {
  /* border: 1px solid red; */
}
.form-container.booking-form h3 {
}
.form-container.booking-form input {
}
.form-container.booking-form button {
}
.form-container.booking-form button:hover,
.form-container.booking-form button:focus-within {
}
.form-container.booking-form label {
}

/* ========================for the event page======================= */
.event-booking-section {
}

.our-event .cta-btn-container {
}
.our-event .cta-btn-container .flex-container-2 {
}
.our-event .cta-btn-container .flex-container-2 > * {
}
.our-event .cta-btn-container .cta-btn {
}
.our-event .cta-btn-container .flex-item:first-child .cta-btn {
}
.our-event .cta-btn-container .flex-item:last-child .cta-btn {
}
.our-event .cta-btn-container .cta-btn.active {
}

/* ========================for the photo studio page======================= */

.studio-booking-section {
}
/* =============================
Desktop Device
================================*/
